<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="keywords" content="вёрстка, HTML, CSS, статьи, иванчай, иванчай-вещает, соцсети, Minecraft, майнкрафт, сайт, веб, linux, it, огород, фиточай">
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <title>Сайт Иванчая</title>
    </head>
    <body>
        <div class="pseudo_body post">
            <div class="wrapper">
                <header class="hat">
                    <h1 class="hat__h1">
                        Сайт Иванчая
                    </h1>
                </header>
                <nav class="horizontal_nav">
                    <div>
                        <a href="/"
                            >Главная</a
                        >
                    </div>
                    <div>
                        <a href="/list"
                            >Статьи</a
                        >
                    </div>
                </nav>
                <main class="main_unit">
                    <div class="content_main_unit">
	                    <section class="txt_hello_div">
	                    	<h1 class="txt_hello">
	                    		{{ page.title }}
	                    	</h1>
	                    </section>
	                    <section class="content_main_unit__txt">
	                    	{{ content }}
	                    </section>
                    </div>
                </main>
            </div>
            <footer>Иванчай вещает, 2021 год.</footer>
        </div>
    </body>
</html>
